body {
  background-color: #424242;
}

.main-container {
  max-width: 1200px;
  margin: auto;
  height: 50vh;
}

ul {
  list-style: none;
}

.top-row {
  display: flex;
}

.scoreboard-container {
  height: 15vh;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0 10px 20px;
  background-color: #00723b;
  border: 2px solid #ffffff;
  border-radius: 10px;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

.scoreboard-container h2 {
  font-size: 2vw;
}

.inning-stat {
  display: flex;
}

.inning-stat h3 {
  width: 30px;
  height: 30px;
  background-color: #000000;
  margin: 10px;
  border-radius: 6px;
  color: red;
}

.teams-container {
  display: flex;
  justify-content: space-evenly;
}
.player-list {
  border: 2px solid #ffb300;
  background-color: #f7f7f7;
  border-radius: 5px;
  flex-basis: 47%;
}

.player-list_team {
  border-bottom: 1px solid #000;
  padding: 5px 15px;
  display: flex;
}

.player-list_team h2:first-child {
  flex-basis: 60%;
  text-align: left;
}

.player-list_team p {
  margin: 5px 0;
  flex-basis: 8%;
  text-align: center;
}

.player-list_stats {
  display: flex;
  border-bottom: 1px solid #000000;
  margin: 10px;
  padding: 20px 5px;
  align-content: center;
}

.player-list_stats li {
  padding: 3px;
  flex-basis: 5%;
  text-align: center;
}

.player-list_stats h3 {
  margin: 0;
  font-weight: 500;
  flex-basis: 75%;
  font-size: 18px;
  line-height: 27px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.player-list_stats_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #ffffff;
  border: 3px solid #ffb300;
  border-radius: 10px;
}

.player-list_stats_modal h3 {
  text-align: center;
}

.player-list_stats_modal ul {
  display: flex;
  justify-content: space-evenly;
}

.player-list_stats_modal ul li {
  flex-basis: 10%;
  text-align: center;
}
